{% extends "MASTER_PAGES/praxis_template.html" %}

{% block head %}
{{ parent() }}
<script src="SCRIPTS/PAGES/NEWSLETTERS/newsletter.js" type="text/javascript"></script>
{% endblock %}

{% block title %}
Praxis newsletter subscription - {{ parent() }}
{% endblock %}

{% block top %}
{{ parent() }}
{% endblock %}

{% block content %}

<div class="page-header" style="text-align: center">
    <h2 class="praxis-form-title">
        PRAXIS - FEEDS SUBSCRIPTION
    </h2>
</div>
<div class="container" style="min-height: 350px">
    <h2>Add your email address to subscribe</h2>
    <div>
        <form class="well well-small" method="POST" id="newsletterForm">
            <div><label>Email address</label></div>
            <div><input type="text" id="emailNewsletter" name="emailNewsletter"></div>
            <br>
            <div>
                <button type="button" class="btn btn-gold" onclick="saveEmail()">Subscribe</button>
            </div>
            <br>
            <div>
                <a href="PROJECTS" role="button">INTERNSHIPS/PROJECTS SUBMISSION</a>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="message">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-message-header"></h4>
            </div>
            <div class="modal-body" id="modal-message-content">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}
{{ parent() }}
{% endblock %}