<!DOCTYPE html>
{% spaceless %}
<html>
    <head>
        {% block head %}

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- JQUERY -->
        <script src="SCRIPTS/JQUERY/jquery-1.11.2.min.js" type="text/javascript"></script>

        <!-- SCRIPTS -->
        <script src="SCRIPTS/PAGES/PRAXIS_ABSS/praxis_abss.js" type="text/javascript"></script>
        <script src="SCRIPTS/PAGES/FEEDS/feeds.js" type="text/javascript"></script>

        <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> -->

        <!-- FORM MASTER PLUGIN -->
        <script src="SCRIPTS/FORM_MASTER/jquery.form.js" type="text/javascript"></script>

        <!-- BOOTSTRAP CSS -->
        <link href="CSS/BOOTSTRAP/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="CSS/BOOTSTRAP/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css"/>
        <script src="CSS/BOOTSTRAP/js/bootstrap.min.js" type="text/javascript"></script>
        <!-- <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css"/> -->

        <!-- PRAXIS CSS -->
        <link href="CSS/PRAXIS/praxisstyles.css" rel="stylesheet" type="text/css"/>

        <!-- BOOTSTRAP GLYPHICONS MASTER -->
        <link href="CSS/BOOTSTRAP/css/bootstrap.icon-large.min.css" rel="stylesheet" type="text/css"/>

        <!-- DATA TABLES PLUGIN -->
        <link href="SCRIPTS/DATA_TABLES/media/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css"/>
        <script src="SCRIPTS/DATA_TABLES/media/js/jquery.dataTables.min.js" type="text/javascript"></script>

        <!-- TEXTAREA LINENUMBERS PLUGIN -->
        <link href="SCRIPTS/TEXT_AREA/jquery-linedtextarea.css" rel="stylesheet" type="text/css"/>
        <script src="SCRIPTS/TEXT_AREA/jquery-linedtextarea.js" type="text/javascript"></script>

        <!-- RSS FEEDS -->
        <link rel="alternate" href="http://localhost:8080/PRAXIS/RSSFEEDS" title="PRAXIS PROJECTS/INTERNSHIPS RSS FEEDS" type="application/rss+xml" />

        {% endblock %}
        <title>{% block title %}Student internships and projects in PRAXIS{% endblock %}</title>
    </head>
    <body class="praxis-home">
            {% block top %}
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        <div id="praxis-logo">
                            <a href="http://www.praxisnetwork.eu">
                                <img id="praxis-letters-only" alt="Praxis" src="FILES/PICTURES/IMAGES/logoPraxisSymbolsHome.png">
                            </a>
                        </div>
                        <a class="navbar-text" href="http://www.praxisnetwork.eu/practical-information">PRATICAL INFORMATION</a>
                        <a class="navbar-text" href="http://www.praxisnetwork.eu/join/">JOIN US</a>
                        <a class="navbar-text" href="http://www.praxisnetwork.eu/contact/">CONTACT</a>
                        <a class="navbar-text" href="SUBSCRIPTION">FEEDS SUBSCRIPTION</a>
                        <a class="navbar-text" onclick="showRssFeedURL()"><i title="PRAXIS RSS FEED" class="icon-large icon-rss icon-white"></i></a>
                    </div>
                </div>
            </div>
            {% endblock %}

            {% block content %}
            {% endblock %}

            {% block footer %}
            <footer class="praxis-footer">
                <div class="container narrow">
                    <div class="row">
                        <div class="col-sm-2">
                            <a href="http://www.praxisnetwork.eu"><img src="FILES/PICTURES/IMAGES/logoPraxisSymbolsHome.png"></a> 
                        </div>
                        <div class="col-sm-2">
                            <h3>
                                <b>About Praxis</b>
                            </h3>
                            <ul style="padding-left: 0pt">
                                <li><a href="http://www.praxisnetwork.eu/information/praxis">WHAT IS PRAXIS?</a></li>
                                <li><a href="http://www.praxisnetwork.eu/information/praxisnetwork">THE PRAXIS NETWORK</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-2">
                            <h3>
                                <b>Who is Praxis for?</b>
                            </h3>
                            <ul style="padding-left: 0pt">
                                <li><a href="http://www.praxisnetwork.eu/for-students">PRAXIS FOR STUDENTS</a></li>
                                <li><a href="http://www.praxisnetwork.eu/for-companies">PRAXIS FOR COMPANIES</a></li>
                                <li><a href="http://www.praxisnetwork.eu/for-higher-education">PRAXIS FOR HEI</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-2">
                            <h3>
                                <b>News</b>
                            </h3>
                            <ul style="padding-left: 0pt">
                                <li><a href="http://www.praxisnetwork.eu/news">PRAXIS NEWS</a></li>
                                <li><a href="http://www.praxisnetwork.eu/events">PRAXIS EVENTS</a></li>
                                <li><a href="http://www.linkedin.com/company/praxis-network">LINKEDIN</a></li>
                                <li><a href="https://www.facebook.com/praxisnetwork">FACEBOOK</a></li>
                            </ul>
                        </div>
                        <div class="col-sm-2">
                            <h3>
                                <b>Contact</b>
                            </h3>
                            <ul style="padding-left: 0pt">
                                <li><a href="http://www.praxisnetwork.eu/contact/">GET IN TOUCH</a></li>
                                <li><a href="http://www.praxisnetwork.eu/join/">JOIN PRAXIS!</a></li>
                                <li><a href="http://www.praxisnetwork.eu/login">LOGIN</a></li>
                                <li><a href="http://www.praxisnetwork.eu/register">REGISTER</a></li>
                            </ul>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-7 praxis-footer-disclaimer">
                            <img class="praxis-img-float clearfix" src="FILES/PICTURES/IMAGES/learning.png">
                            <h3>Disclaimer</h3>
                            <p>
                                This project has been funded with support from the European Commission. This publication reflects the views only of the author, and the Commission cannot be held responsible for any use which may be made of the information contained therein.
                            </p>
                        </div>
                    </div>
                </div>
            </footer>
            {% endblock %}
    </body>
</html>
{% endspaceless %}