/*******************
**   TYPOGRAPHY   **
*******************/

body {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    line-height: 22px;
}

a {
    /** henry font-family: 'Montserrat', sans-serif; **/
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    color: #b3862f;
}

.gold {
    color: #b3862f;
}

div.fuckthemargin {
    margin-left: 0px;
}

/* vimeo player */
#player a {
    color: #b3862f !important;
}

#player button {
    color: #b3862f !important;
}



a:hover,
a:active
{
    color: #956e22;
}

li {
    line-height: 22px;
}

h2 {
    margin-bottom: 26px;
}

.responsiveContainer {
    position: relative;
    padding-bottom: 56%;
    height: 0;
    overflow: hidden;
}
.praxis-heading-inline {
    display:inline-block;
}

.praxis-home h1 {
    font-size: 70px;
    /** henry margin-top: 22px;
    margin-bottom: 40px; **/
}

#praxis-introtext {
    margin-top: 50px;
}

#praxis-introtext p {
    /** henry
    font-family: 'Montserrat', sans-serif;
	font-weight: 300;*/

    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    margin-left: 3px;
    margin-top: 20px;
}

.input-append .praxis-searchinput {
    /** henry 	font-family: 'Montserrat', sans-serif;
**/
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;

    text-transform: uppercase;
    font-size: 11px;
}

.praxis-searchinput::-webkit-input-placeholder { /* WebKit browsers */
    color:    #CCC;
}
.praxis-searchinput:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #999;
}
.praxis-searchinput::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #999;
}
.praxis-searchinput:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #999;
}


.praxis-footer h3 {
    /*font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;*/
    font-size: 16px;
    line-height:18px;

}

.praxis-footer a {
    /*font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    text-transform: none;*/
    font-size: 12px;
    line-height:1em;
    color: #AAA;

}

.praxis-footer li {
    line-height: 0.5em;
}


/* COLORS */

.praxis-gold {
    color: #b3862f;
}

/* FORMS */

.praxis-form-title {
    /** henry font-family: 'Montserrat', sans-serif; **/
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    display:inline;
}

.praxis-edit {
    margin-left: 20px;
}

.praxis-last-update {
    display: block;
    margin-top: -6px;
    font-size: 11px;
    margin-bottom: 17px;
    margin-left: 2px;
}

form h3 {
    /** henry font-family: 'Montserrat', sans-serif; **/
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;	text-transform: uppercase;
    font-weight: normal;
    margin-top: 35px;
}

h3.praxis-form-title {
    margin-top: 20px;
}


/*******************
**     HEADER     **
*******************/
/** HENRY HEADER OFF
.navbar-inner {
	height: 60px;
}**/

.navbar-inverse .navbar-inner {
    background-image: none;
    background-color: black;
}

.navbar .nav {
    position: relative;
    /**	left: 140px;
        top: 8px; **/
}
/*
#praxis-logo-home {
	z-index: 100;
	display: block;
	width: 126px;
	margin: 0 0 0 -11px;
}
*/


#praxis-logo {
    /*position: fixed;*/
    float: left;
    width: 126px;
    margin-left: -11px;
}


#praxis-letters-only {
    margin-top: 15px;
}




.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
    border-width: 0px;
}

.navbar-form {
    margin-top: 10px;
}


/*******************
**     GENERAL    **
*******************/

body {
    /** henry padding-top: 85px;**/
    padding-top: 65px;
    padding-bottom: 0px;
}

hr {
    border-top: 2px solid rgb(248,248,248);
    border-bottom: 0px;
    margin: 27px 0;
}

#home-first-row hr {
    margin-top: 50px;
    margin-bottom: 50px;
    border-top:  2px solid #EEE;
}

#praxis-video {
    margin-bottom: 40px;
}

.btn,
.input-append .add-on:last-child,
.input-append .btn:last-child,
.input-append .btn-group:last-child > .dropdown-toggle {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.btn-gold {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #956e22;
    *background-color: #956e22;
    background-image: -moz-linear-gradient(top, #c49740, #956e22);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c49740), to(#956e22));
    background-image: -webkit-linear-gradient(top, #c49740, #956e22);
    background-image: -o-linear-gradient(top, #c49740, #956e22);
    background-image: linear-gradient(to bottom, #c49740, #956e22);
    background-repeat: repeat-x;
    border-color: #ab7e27 #ab7e27 #002a80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c49740', endColorstr='#956e22', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.btn-gold:hover,
.btn-gold:focus,
.btn-gold:active,
.btn-gold.active,
.btn-gold.disabled,
.btn-gold[disabled] {
    color: #ffffff;
    background-color: #956e22;
    *background-color: #956e22;
}

.btn-gold:active,
.btn-gold.active {
    background-color: #956e22 \9;
}





/*******************
**
*******************/


/* lists used as blocks */
ul.praxis-cta-list, .praxis-smallstudents, .praxis-smallstudents > li > div > ul, .praxis-managepanel  {
    list-style: none;
}



.praxis-managepanel {
    margin-left: 0px;
}

/* centering icons, horizontal & vertical*/
.centericonic {
    text-align: center;
    line-height: 20px;
    vertical-align: middle;
    width: 20px;
    margin-right: 10px;
}

/* specific styles providers PI details/management */
.praxis-smallstudents > li > div > ul.praxis-quick-actions li { display: inline; }
.praxis-smallstudents > li > div > ul.praxis-quick-actions { margin-top: 10px; }

.praxis-green {
    color: #00FF8B;
}

ul.praxis-cta-list li {
    clear: left;
}

img.praxis-img-float {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
}

img.praxis-img-float-right {
    float: right;
    margin-right: 1em;
    margin-bottom: 1em;
}

img.praxis-proposal-logo {
    height: 60px;
}

div.praxis-cta-list-div {
    margin-top: 60px;
    margin-left: 150px; /* margin in pixels, try to work away later */
    margin-bottom: 3.5em;
}


/* image fade on home page */

.fade1,
.fade2 {
    position:relative;
    width:120px;
    height:120px;
    float: left;
}
.fade1 img,
.fade2 img {
    position:absolute;
    left:0; top:0;
}


@media (min-width: 767px) {
    div.praxis-center {
        text-align: center;
    }

    .praxis-fixed-sidebar  {
        position: fixed;
    }

}


@media (max-width: 1000px) {

    body {
        /** HENRY
		padding-top: 0px;
    	padding-bottom: 0px; **/
    }

    #praxis-logo {
        margin-left: 18px;
    }
}
/*******************
**   ITEM-LISTS   **
*******************/

.praxis-items-group {
    margin-bottom: 70px;
}

.praxis-searchitems-group {
    margin-bottom: 70px;
    margin-left: 0px;
}

.praxis-list-item {
    margin-top: 25px;
}

.praxis-list-item-border {
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: 20px;
    margin-top: 5px;
}

.praxis-list-item h3 {
    line-height: 24px;
}

h2.news {
    margin-bottom: 12px;
}
h3.news {
    margin-bottom: 0px;
}

.praxis-list-item-border  h3 {
    /*text-transform: uppercase;*/
    font-size: 1.3em;
    line-height: 1.2em;
}


.praxis-list-item img.praxis-img-float {
    margin-bottom: 7px;
}

.praxis-list-item ul.praxis-list-item-properties, .praxis-searchitems-group ul.praxis-list-item-properties{
    margin-top: 5px;
    margin-bottom: 8px;
}

.praxis-list-item ul.praxis-list-item-properties li, .praxis-searchitems-group ul.praxis-list-item-properties li {
    margin-bottom: 2px;
    list-style: none;
}

.praxis-list-item a:hover > span.iconic {
    color: #956e22;
}


/* quick actions */
.praxis-quick-actions-li-item {
    display: inline;
}

ul.praxis-quick-actions {
    clear: left;
    margin-left: 0px;
    margin-top: 4px;
    list-style: none;
}

.praxis-quick-actions li {
    margin-right: 6px;
}

.praxis-quick-actions .praxis-active-icon {
    color: #b3862f;
}

.praxis-quick-actions .praxis-inactive-icon {
    color: #000;
}

.praxis-quick-actions .centericonic {
    margin-right: 2px;
}


/*******************
**      FORMS     **
*******************/

.well-small {
    padding: 40px;
    padding-top: 30px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border-width: 2px;
    border-color: black;
}

.well {
    background-color: white;
    background-image:url(../../FILES/PICTURES/IMAGES/subtle_dots4.png);
    background-repeat:repeat;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.praxis-filters h5 {
    margin-top: 30px;

}

select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    border: 1px solid #000;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: none;

}

select {
    width: 216px;
}

/* tags */
.myTagWithout {
    display: inline-block;
    /** henry font-family: 'Montserrat', sans-serif; **/
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;

    text-transform: uppercase;
    font-size: 14px;

}

.myTag, .praxis-form-input, select {
    display: inline-block;
    background-color:white;
    padding: 0px 5px 0px 15px;
    margin-right: 10px;
    border: 1px solid #000;

    /** henry font-family: 'Montserrat', sans-serif; **/
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    text-transform: uppercase;

}

.myTagRemover {
    display: inline-block;
    margin-left:15px;
    vertical-align: top;
}

input.praxis-form-input {
    margin-bottom: 3px;
    border: 1px solid #CCC;
    width: auto;
    padding: 2px 10px 1px 10px;
}

.praxis-filters input.praxis-form-input {
    margin-bottom: 3px;
    border: 1px solid #CCC;
    width: 58%;
    padding: 2px 10px 1px 10px;
}

#praxis-search {
    /** henry font-family: 'Montserrat', sans-serif; **/
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 20px;
    border: 0px solid black;
    background-color: white;
    background-image: none;
    line-height: 0.99999em;
}

#praxis-search .iconic {
    margin-left: 6px;
}

input#appendedInputButton .praxis-searchinput {
    height: 20px;
}


@media (min-width: 1200px) {

    .navbar .nav {
        top: 8px;
    }
}

@media (min-width: 980px) and (max-width: 1199px) {


    .home-student-img {
        margin-top: 90px;
    }
}

@media (min-width: 480px) and (max-width: 979px) {
    .input-append .praxis-searchinput {
        height: 20px;
        width: 100% !important;
    }
    .input-append {
        width: 100%;
    }

    .span4 praxis-searchinput .navbar-form pull-right
    {
        width: 90%;
    }
}


/*******************
**     FOOTER     **
*******************/

.praxis-footer {
    color: #fff;
    background-color: #000;
    padding: 30px 20px;
    margin-top: 75px;
    margin-left: -20px;
    margin-right: -20px;
}

.praxis-footer2 {
    color: black;
    background-color: #f5f5f5;
    padding: 30px 20px;
    margin-top: 5px;
    margin-left: -20px;
    margin-right: -20px;
}

.praxis-footer h3 {
    margin-bottom: 22px;
}

.praxis-footer ul {
    margin-left: 0px;
}

.praxis-footer li {
    list-style: none;
    margin-bottom: 22px;
}

.praxis-footer hr {
    border-width:2px;
    border-color: #222;
}

.praxis-footer-disclaimer {
    font-size: 10px;
    line-height: 15px;
    color: #ddd;
}

.praxis-footer-disclaimer h3 {
    margin-bottom: 10px;
}


/*******************
**      CfE       **
*******************/

#menucfe {
    background-color:#000000;
    color:#ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
}


#menucfe a {
    color:#ffffff;
    text-transform:capitalize;
}


#firstmenu a {
    color:#ffffff;
    text-transform:capitalize;
}

#secondmenu a {
    color:#ffffff;
    text-transform:capitalize;
}

#thirdmenu a {
    color:#ffffff;
    text-transform:capitalize;
}

#activemenu a {
    color:#b3862f;
    text-transform:capitalize;
    padding-top: 20px;
    padding-bottom: 10px;
    display:block;
}



/*responsive*/

@media (min-width: 980px) and (max-width: 1199px) {
}