{% extends "MASTER_PAGES/praxis_template.html" %}

{% block head %}
{{ parent() }}
{% endblock %}

{% block title %}
Praxis XML Schema edit - {{ parent() }}
{% endblock %}

{% block top %}
{{ parent() }}
{% endblock %}

{% block content %}

<div class="page-header" style="text-align: center">
    <h2 class="praxis-form-title">
        PRAXIS - PROVIDER´S INTERNSHIPS/PROJECTS SUBMISSION
    </h2>
</div>
<div class="container" style="min-height: 350px">
    <h2>Authentication</h2>
    <div>
        <form class="well well-small" method="POST" id="projectAuthentication">
            <div><label>Email or Username</label></div>
            <div><input type="text" id="username" name="username"></div>
            <br>
            <div><label>Password</label></div>
            <div><input type="password" id="password" name="password"></div>
            <br>
            <div>
                <button type="button" class="btn btn-gold" id="login" onclick="authorize()">Login</button>
            </div>
        </form>
    </div>
</div>
<div class="modal fade" id="message">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-message-header"></h4>
            </div>
            <div class="modal-body" id="modal-message-content">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}
{{ parent() }}
{% endblock %}
