{% extends "MASTER_PAGES/praxis_template.html" %}

{% block head %}
<script src="SCRIPTS/PAGES/PROJECT/submit_project.js" type="text/javascript"></script>
{{ parent() }}
{% endblock %}

{% block title %}
PRAXIS students internships - projects - {{ parent() }}
{% endblock %}

{% block top %}

{% endblock %}

{% block content %}
<div class="page-header" style="text-align: center">
    <h2 class="praxis-form-title">
        PRAXIS - PROVIDER´S INTERNSHIPS/PROJECTS SUBMISSION
    </h2>
</div>

<div class="row col-md-12">
    <div class="col-md-4 col-md-offset-2">
        <form class="well well-small" id="fileForm" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <h4>Submit internship/project file</h4>
                <br>
                <label>File input</label>
                <input type="file" name="projectFile" id="projectFile">
            </div>
            <button class="btn btn-gold" type="button" onclick="submitFile()">Submit</button>
        </form>
    </div>
    <div class="col-md-4 col-md-offset-0">
        <form class="well well-small">
            <div class="form-group">
                <h4>Generate internship/project template format</h4>
                <br>
                <label>Choose template´s format</label>&nbsp;
                <div class="btn-group">
                    <button type="button" class="btn btn-gold dropdown-toggle" data-toggle="dropdown">
                        Format <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="project?template=xml"><i>XML</i></a></li>
                        <li><a href="project?template=pdf"><i>PDF</i></a></li>
                    </ul>
                </div>
            </div>
        </form>
    </div>

</div>

<div class="modal fade" id="message">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-message-header"></h4>
            </div>
            <div class="modal-body" id="modal-message-content">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<div class="footer navbar-fixed-bottom praxis-footer2">
    <div class="col-lg-6 text-left">
        <b>User:&nbsp;</b><i>{{username}}</i>&nbsp;&nbsp;<a class="btn btn-danger" href="LOGOUT" role="button">Logout</a>
    </div>
</div>
{% endblock %}