{% extends "MASTER_PAGES/praxis_template.html" %}

{% block head %}
{{ parent() }}
<script src="SCRIPTS/PAGES/EDITOR/choose_provider.js" type="text/javascript"></script>
{% endblock %}

{% block title %}
Praxis providers - {{ parent() }}
{% endblock %}

{% block top %}
{% endblock %}

{% block content %}
<div class="page-header" style="text-align: center">
    <h2 class="praxis-form-title">
        Praxis list providers
    </h2>
</div>
<div class="panel panel-default">
    <div class="panel-heading"><h4><b><i>Choose a provider to manage XML Schema</i></b></h4></div>
    <div class="table-responsive" style="padding-left: 15px; padding-right: 15px">
        <table class="table table-striped" id="providers" width="100%">
            <thead style="text-align: center">
                <tr>
                    <th style="width: 14%">FIRST NAME</th>
                    <th style="width: 14%">LAST NAME</th>
                    <th style="width: 10%">COUNTRY</th>
                    <th style="width: 10%">CITY</th>
                    <th style="width: 20%">INSTITUTION</th>
                    <th style="width: 14%">STATUS</th>
                    <th style="width: 16%">Action</th>
                </tr>
            </thead>
            <tbody>
                {{tbody|raw}}
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="delete-schema-dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><span class="glyphicon glyphicon-exclamation-sign"></span>&nbsp;Deletion confirmation</h4>
            </div>
            <div class="modal-body">
                <p>Confirm provider´s XML Schema deletion?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" onclick="deleteSchema()">Delete</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="errorMessage">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-message-header"></h4>
            </div>
            <div class="modal-body" id="modal-message-content">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<nav class="navbar navbar-default navbar-fixed-bottom praxis-footer2" id="footer">
    <div class="container-fluid">
        <div class="col-sm-offset-0 col-sm-10">
            <b>User:&nbsp;</b><i>{{username}}</i>&nbsp;&nbsp;
            <a class="btn btn-danger" href="LOGOUT" role="button">Logout</a>
        </div>
    </div>
</nav>
{% endblock %}
