{% extends "MASTER_PAGES/praxis_template.html" %}

{% block head %}
{{ parent() }}
<script src="SCRIPTS/PAGES/EDITOR/xml_schema_editor.js" type="text/javascript"></script>
{% endblock %}

{% block title %}
Xml Schema Editor - {{ parent() }}
{% endblock %}

{% block top %}
{% endblock %}

{% block content %}

<div class="page-header" style="text-align: center">
    <h2>
        Provider XML Schema Editor
    </h2>
</div>
<br>
<div class="panel panel-default" style="overflow-y: auto">
    <div class="panel-heading">
        <div class="row" style="padding-left: 15px; padding-right: 15px">
            <!-- Split button -->
            <div class="btn-group" style="margin: 2px">
                <button type="button" class="btn btn-info"><b>XML SCHEMA PROPOSAL´S DETAILS</b></button>
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                {{proposal|raw}}
            </div>
            <!-- Split button -->
            <div class="btn-group" style="margin: 2px">
                <button type="button" class="btn btn-info"><b>XML SCHEMA INSTITUTION´S DETAILS</b></button>
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                {{institution|raw}}
            </div>
            <!-- Split button -->
            <div class="btn-group" style="margin: 2px">
                <button type="button" class="btn btn-info"><b>XML SCHEMA HOST´S DETAILS</b></button>
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                {{host|raw}}
            </div>
        </div>
        <br>
        <div class="row" style="padding-left: 15px; padding-right: 15px">
            <!-- Split button -->
            <div class="btn-group" style="margin: 2px">
                <button type="button" class="btn btn-info"><b>XML SCHEMA DOC´S STRUCTURE ELEMENTS</b></button>
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                {{xsdDoc|raw}}
            </div>
        </div>

    </div>
    <div class="panel-body">
        <form method="POST" id="editorForm">
            <div class="form-group">
                <textarea rows="14" name="schema_document" id="schema_document" style="width: 100%">{{file}}</textarea>
                <input type="hidden" name="validateSave" id="validateSave">
            </div>
        </form>
    </div>

</div>

<div class="modal fade" id="message">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-message-header"></h4>
            </div>
            <div class="modal-body" id="modal-message-content">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}
<nav class="navbar navbar-default navbar-fixed-bottom praxis-footer2" id="footer">
    <div class="container-fluid">
        <div class="col-sm-6 text-left">
            <b>User:&nbsp;</b><i>{{username}}</i>&nbsp;&nbsp;<a class="btn btn-danger" style="margin: 2px" href="LOGOUT" role="button">Logout&nbsp;<span class="glyphicon glyphicon-log-out"></span></a>
            <a class="btn btn-default" style="margin: 2px" href="PROVIDERS" role="button"><span class="glyphicon glyphicon-menu-left"></span><span class="glyphicon glyphicon-menu-left"></span>&nbsp;Return to providers list</a>
        </div>
        <div class="col-sm-6 text-right">
            <button class="btn btn-success" style="margin: 2px" type="button" onclick="validatesXmlSchema()">Validate syntax&nbsp;<span class="glyphicon glyphicon-check"></span></button>
            <button class="btn btn-primary" style="margin: 2px" type="button" onclick="saveXmlSchema()">Save&nbsp;<span class="glyphicon glyphicon-floppy-save"></span></button>
        </div>
    </div>
</nav>
{% endblock %}
