{% extends "MASTER_PAGES/praxis_template.html" %}

{% block head %}
{{ parent() }}
<!-- EDITOR REGISTRATION SCRIPT -->
<script src="SCRIPTS/PAGES/EDITOR_REGISTRATION/editorRegistration.js" type="text/javascript"></script>
{% endblock %}

{% block title %}
Praxis register new editor - {{ parent() }}
{% endblock %}

{% block top %}
{{ parent() }}
{% endblock %}

{% block content %}

<div class="page-header" style="text-align: center">
    <h2 class="praxis-form-title">
        NEW EDITOR REGISTRATION
    </h2>
</div>
<div class="container" style="min-height: 350px">
    <h2>Editor´s data</h2>
    <div>
        <form class="well well-small" method="POST" id="editorRegistration">
            <div><label>Name</label></div>
            <div><input type="text" id="editorName" name="editor_name"></div>
            <br>
            <div><label>Email</label></div>
            <div><input type="text" id="editorEmail" name="editor_email"></div>
            <br>
            <div><label>Username</label></div>
            <div><input type="text" id="username" name="username"></div>
            <br>
            <div><label>Password</label></div>
            <div><input type="password" id="password" name="password"></div>
            <br>
            <div><label>Repeat password</label></div>
            <div><input type="password" id="confPassword" name="conf_password"></div>
            <br>
            <div>
                <button type="button" class="btn btn-gold" id="registerBt">Save</button>
            </div>
            <br>
            <div>
                <a href="EDITION">XML SCHEMA EDITION</a>
            </div>
        </form>
    </div>
</div>
<div class="modal fade" id="message">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-message-header"></h4>
            </div>
            <div class="modal-body" id="modal-message-content">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirmation">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="modal-confirmation-header">
                    Editor´s registration&nbsp;<span class="glyphicon glyphicon-question-sign"></span>
                </h4>
            </div>
            <div class="modal-body" id="modal-confirmation-content">

                <p>
                    Confirm editor´s registration?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="confirmRegistrationBt">Confirm</span></button>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block footer %}
{{ parent() }}
{% endblock %}